<!DOCTYPE html>
<html>
<head>
<title>User Login</title>
</head>
<body>

<h1>Atlanta Beltline Login</h1>
<!-- <form action="action_page.php"> -->
  <p>

    <label for="email">Email</label>
    <input type="text" placeholder="Enter Email" name="uname" required> </p>

<p>
    <label for="psw">Password</label>
    <input type="password" placeholder="Enter Password" name="psw" required> </p>

    <button type="login"><a href="/sign_in"> Login</button>
    <button type="register"><a href="/to_user_register">Register</button>



</body>
</html>