<!DOCTYPE html>
<html>
<head>
<title>Manager Visitor func</title>
</head>
<body>

<h1>Manager Functionality</h1>


    <p><button type="mp"><a href="">Manage Profile</a></button></p>
    <p><button type="me"><a href="">Manage Event</a></button></p>
    <p><button type="vs"><a href="">View Staff</a></button></p>
    <p><button type="vsr"><a href="">View Site Report</a></button></p>
    <p><button type="es"><a href="">Explore Site</a></button></p>
    <p><button type="ee"><a href="">Explore Event</a></button></p>
    <p><button type="tt"><a href="">Take Transit</a></button></p>
    <p><button type="viewthist"><a href="">View Transit History</a></button></p>
    <p><button type="viewvhist"><a href="">View Visit History</a></button></p>
   
    <p><button type="back"><a href="2-registernavigation.html">Back</a></button></p>



</body>
</html>