<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="../static/js/login.js"></script>

    <!--<script src="../Scripts/login.js"></script>-->

    <title>User Transit History</title>
</head>
<body>
    <div align=center class="container-fluid" style="width:60%; min-width:600px">
        <form class="form-group" align=center style="width:60%; min-width:600px" action="/to_user_transit_history" method="post" enctype="multipart/form-data">
            <h1>Transit History</h1>

            <!-- contain site and transport type -->
            <div class="row">
                <div class="col-xs-6" align=left>
                    <label for="site">Contain Site</label>
                    <select name="site">
                        {% if filSite == '-ALL-' -%}
                        <option value="-ALL-" selected="selected">-ALL-</option>
                        {% else -%}
                        <option value="-ALL-">-ALL-</option>
                        {%- endif %}

                        {% for site in sites %}
                        {% if filSite == site.SiteName -%}
                        <option value="{{site.SiteName}}" selected="selected">{{site.SiteName}}</option>
                        {% else -%}
                        <option value="{{site.SiteName}}">{{site.SiteName}}</option>
                        {%- endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="col-xs-6" align=right>
                    <label for="transtype">Transport Type</label>
                    <select name="transittype">
                        <option value="-ALL-">-ALL-</option>
                        {% if filSite == '-ALL-' -%}
                        <option value="-ALL-" selected="selected">-ALL-</option>
                        {% else -%}
                        <option value="-ALL-">-ALL-</option>
                        {%- endif %}

                        {% for type in types %}
                        {% if filType == type.TransitType -%}
                        <option value="{{type.TransitType}}" selected="selected">{{type.TransitType}}</option>
                        {% else -%}
                        <option value="{{type.TransitType}}">{{type.TransitType}}</option>
                        {%- endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- route, start and end date -->
            <div class="row">
                <div class="col-xs-4" align=left>
                    <label for="route">Route</label>
                    <input type = "text" name="route" value="{{filRoute}}"/>
                </div>
                <div class="col-xs-4" align=center>
                    <label for="sd">Start Date</label>
                    <input type = "date" name="startdate" value="{{filStDate}}"/>
                </div>
                <div class="col-xs-4" align=right>
                    <label for="ed">End Date</label>
                    <input type = "date" name="enddate" value="{{filEndDate}}"/>
                </div>

            </div>

            <div class="row" align=center>
                <button type="submit" name="filter">Filter</button>
            </div>

            <!-- results table -->
            <div align=center style="margin:20px">
                <table class="table table-striped">
                <tr>
                    <th>Date
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="TransitDate ASC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="TransitDate DESC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </button>
                    </th>
                    <th>Route
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="TransitRoute ASC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="TransitRoute DESC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </button>
                    </th>
                    <th>TransportType
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="TransitType ASC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="TransitType DESC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </button>
                    </th>
                    <th>Price
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="TransitPrice ASC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="TransitPrice DESC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </button>
                    </th>
                </tr>

                {% for transit in transits %}
                <tr>
                    <td>{{transit.Date}}</td>
                    <td>{{transit.TransitRoute}}</td>
                    <td>{{transit.TransitType}}</td>
                    <td>{{transit.TransitPrice}}</td>
                </tr>
                {% endfor %}

                </table>
            </div>
        </form>

    <button type="back"><a href="/back-button">Back</a></button>
</div>

</body>
</html>
