<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="../static/js/login.js"></script>

    <!--<script src="../Scripts/login.js"></script>-->

    <title>User Transit History</title>
</head>
<body>
    <div align=center class="container-fluid" style="width:60%; min-width:600px">
        <form class="form-group" align=center style="width:60%; min-width:600px" action="/to_user_transit_history" method="post" enctype="multipart/form-data">
            <h1>Transit History</h1>

            <!-- contain site and transport type -->
            <div class="row">
                <div class="col-xs-6" align=left>
                    <label for="site">Contain Site</label>
                    <select name="site">
                        <option value="-ALL-">-ALL-</option>

                        {% for site in sites %}
                        <option value="{{site.SiteName}}">{{site.SiteName}}</option>
                        {% endfor %}

                    </select>
                </div>

                <div class="col-xs-6" align=right>
                    <label for="transtype">Transport Type</label>
                    <select name="transittype">
                        <option value="-ALL-">-ALL-</option>

                        {% for type in types %}
                        <option value="{{type.TransitType}}">{{type.TransitType}}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>

            <!-- route, start and end date -->
            <div class="row">
                <div class="col-xs-4" align=left>
                    <label for="route">Route</label>
                    <input type = "text" name="route"/>
                </div>
                <div class="col-xs-4" align=center>
                    <label for="sd">Start Date</label>
                    <input type = "date" name="startdate"/>
                </div>
                <div class="col-xs-4" align=right>
                    <label for="ed">End Date</label>
                    <input type = "date" name="enddate"/>
                </div>

            </div>

            <div class="row" align=center>
                <button type="submit" name="filter">Filter</button>
            </div>
        </form>

        <p>
            <!-- results table -->
            <div align=center style="margin:20px">
                <table class="table table-striped">
                <tr>
                    <th>Date</th>
                    <th>Route</th>
                    <th>TransportType</th>
                    <th>Price</th>
                </tr>

                {% for transit in transits %}
                <tr>
                    <td>{{transit.Date}}</td>
                    <td>{{transit.TransitRoute}}</td>
                    <td>{{transit.TransitType}}</td>
                    <td>{{transit.TransitPrice}}</td>
                </tr>
                {% endfor %}

                </table>
            </div>
        </table>
        </p>


    <p> <button type="back"><a href="/back-button">Back</a></button>
    </p>
</div>

</body>
</html>
