<!DOCTYPE html>
<html>
<head>
<title>Emp Manage Profile</title>
</head>
<body>

<h1>Manage Profile</h1>

<p> <label for="fname">First Name</label>
    <input type="text" name="fname" required> 

	<label for="lname">Last Name</label>
    <input type="text" name="lname" required> </p>

<p> <label for="uname">Username</label>

    <label for="sname">Site Name</label> </p>

<p> <label for="id">Employee ID</label>
    

    <label for="phone">Phone</label>
    <input type="text" name="phone" required> </p>

<p> <label for="pword">Address</label>
</p>

    <p> <label for="email">Email</label>
    <input type="text" name="email" required><button type="add">Add</button> </p>


    <p> <input type="checkbox" name="va" value = "VA">Visitor Account
       

    <p><button type="update"><a href="">Update</a></button>

    <button type="back"><a href="2-registernavigation.html">Back</a></button>
</p>



</body>
</html>