<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="../static/js/login.js"></script>

    <!--<script src="../Scripts/login.js"></script>-->

<title>Register Navigation</title>
</head>
<body>
<div align=center class="container-fluid" style="width:20%">

<h1>Register Navigation</h1>

	<br></br>
    <a class="btn btn-lg btn-primary btn-block" href="to_user_register" role="button" type="user">User Only</a>
    <br>

     <a class="btn btn-lg btn-primary btn-block" href="to_visitor_register" role="button" type="visitor">Visitor Only</a>
    <br>

     <a class="btn btn-lg btn-primary btn-block" href="to_employee_register" role="button" type="user">Employee Only</a>
    <br>

     <a class="btn btn-lg btn-primary btn-block" href="to_emp_visitor_register" role="button" type="user">Employee-Visitor </a>
    <br>
    
    
    <a class=" btn btn-default" href="/" role="button">Back</a>
</div>


</body>
</html>