<!DOCTYPE html>
<html>
<head>
<title>Register Navigation</title>
</head>
<body>

<h1>Register Navigation</h1>


    <p><button type="user"><a href="3-reguseronly.html">User Only</a></button></p>
    <p><button type="visitor"><a href="4-regvisit.html">Visitor Only</a></button></p>
    <p><button type="emp"><a href="5-regemp.html">Employee Only</a></button></p>
    <p><button type="empvist"><a href="6-regempvisit.html">Employee-Visitor</a></button></p>
    <p><button type="back"><a href="1-login.html">Back</a></button></p>



</body>
</html>