<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="../static/js/login.js"></script>

    <!--<script src="../Scripts/login.js"></script>-->

<title>Create Site</title>
</head>

<body>
    <div align=center class="container-fluid" style="width:60%; min-width:600px">
        <h1>Create Site</h1>

        <form class="form-group" align=center style="width:60%; min-width:600px" action="/to_create_site" method="post" enctype="multipart/form-data">

            <!-- Name and Zipcode -->
            <div class="row">
                <div class="col-xs-7" align=left>
                    <label for="name">Name</label>
                    <input type="text" name="name" value="{{filName}}" required autofocus>
                </div>
                <div class="col-xs-5" align=right>
                    <label for="zipcode">Zipcode</label>
                    <input type="number" name="zipcode" min=0 step=1 value="{{filZip}}" required autofocus>
                </div>
            </div>
            <br>

            <!-- address -->
            <div class="row">
                <div class="col-xs-2" align=left>
                    <label for ="address">Address</label>
                </div>
                <div class="col-xs-10">
                    <input type="test" name="address" value="{{filAdd}}" style="width:100%" autofocus>
                </div>
            </div>
            <br>

            <!-- manager and open everyday -->
            <div class="row">
                <div class="col-xs-6" align=left>
                    <label for="manager">Manager</label>
                    <select name="manager">
                        {% for manager in managers %}
                        {% if filMan == manager.Username -%}
                        <option value="{{manager.Username}}" selected="selected">{{manager.Username}}</option>
                        {% else -%}
                        <option value="{{manager.Username}}">{{manager.Username}}</option>
                        {%- endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-6" align=right>
                    {% if openeveryday == 'Yes' -%}
                    <input type="checkbox" name="everyday" value="YES" checked autofocus> Open Everyday</input>
                    <input type="hidden" name="everyday" value="NO">
                    {% else -%}
                    <input type="checkbox" name="everyday" value="YES" autofocus> Open Everyday</input>
                    <input type="hidden" name="everyday" value="NO">
                    {% endif %}
                </div>
            </div>
            <br>
            <button type="submit" style="width:100px">Create</a></button>
        </form>

        <a class=" btn btn-default" href="/to_manage_site" role="button">Back</a>

    </div>
</body>
</html>
