<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="../static/js/login.js"></script>

    <!--<script src="../Scripts/login.js"></script>-->

<title>Manage Transit</title>
</head>

<body>
    <div align=center class="container-fluid">
        <h1>Manage Transit</h1>

        <form class="form-group" align=center style="width:80%; min-width:900px" action="/to_manage_transit" method="post" enctype="multipart/form-data">
            <!-- contain site and transport type -->
            <div class="row">
                <div class="col-xs-6" align=left>
                    <label for="site">Contain Site</label>
                    <select name="site">
                        {% if filSite == '-ALL-' -%}
                        <option value="-ALL-" selected="selected">-ALL-</option>
                        {% else -%}
                        <option value="-ALL-">-ALL-</option>
                        {%- endif %}

                        {% for site in sites %}
                        {% if filSite == site.SiteName -%}
                        <option value="{{site.SiteName}}" selected="selected">{{site.SiteName}}</option>
                        {% else -%}
                        <option value="{{site.SiteName}}">{{site.SiteName}}</option>
                        {%- endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="col-xs-6" align=right>
                    <label for="transtype">Transport Type</label>
                    <select name="type">
                        {% if filSite == '-ALL-' -%}
                        <option value="-ALL-" selected="selected">-ALL-</option>
                        {% else -%}
                        <option value="-ALL-">-ALL-</option>
                        {%- endif %}

                        {% for type in types %}
                        {% if filType == type.TransitType -%}
                        <option value="{{type.TransitType}}" selected="selected">{{type.TransitType}}</option>
                        {% else -%}
                        <option value="{{type.TransitType}}">{{type.TransitType}}</option>
                        {%- endif %}
                        {% endfor %}
                    </select>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6" align=left>
                    <label for="route">Route</label>
                    <input type = "text" name="route" value="{{filRoute}}"/>
                </div>
                <div class="col-xs-6" align=right>
                    <label for="range">Price Range</label>
                    {% if filMinPr == -1 %}
                    <input type="number" name="minPrice" placeholder="min" min=0 step=0.1 style="width:75px;">
                    {% else -%}
                    <input type="number" value={{filMinPr}} name="minPrice" placeholder="min" min=0 step=0.1 style="width:75px;">
                    {%- endif %}

                    <label for="dash"> -- </label>
                    {% if filMaxPr == -1 %}
                    <input type="number" name="maxPrice" placeholder="max" min=0 step=0.1 style="width:75px;">
                    {% else -%}
                    <input type="number" value={{filMaxPr}} name="maxPrice" placeholder="max" min=0 step=0.1 style="width:75px;">
                    {%- endif %}
                </div>
            </div>

            <button type="submit" style="width: 100px" formnovalidate>Filter</a></button>
            <!-- table of site results -->
            <div align=center style="margin:20px">
                <table class="table table-striped">
                <tr>
                    <th>Route
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="TransitRoute ASC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="TransitRoute DESC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </button>
                    </th>
                    <th>Transport Type
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="TransitType ASC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="TransitType DESC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </button>
                    </th>
                    <th>Price
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="TransitPrice ASC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="TransitPrice DESC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </button>
                    </th>
                    <th># Connected Sites
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="ConnectedSites ASC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="ConnectedSites DESC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </button>
                    </th>
                    <th># Transits Logged
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="TransitsLogged ASC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-default btn-xs" name="sort" value="TransitsLogged DESC" formnovalidate>
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </button>
                    </th>
                </tr>

                {% for transit in transits %}
                <tr>
                    <td><input type="radio" name="chosen_transit" value="{{transit}}" required> {{transit.TransitRoute}}</td>
                    <td>{{transit.TransitType}}</td>
                    <td>{{transit.TransitPrice}}</td>
                    <td>{{transit.ConnectedSites}}</td>
                    <td>{{transit.TransitLogged}}</td>
                </tr>
                {% endfor %}

                </table>
            </div>

            <!-- create, edit, and delete buttons -->
            <div class="row" align=center>
                <button type="submit" style="width:150px" formaction="/to_create_transit" formmethod="get" formnovalidate>Create New Transit</button>
                <button type="submit" style="width:150px" formaction="/to_edit_transit">Edit</button>
                <button type="submit" style="width:150px" formaction="/delete_transit">Delete</button>
            </div>
        </form>
        <br>
        <a class=" btn btn-default" href="/back-button" role="button">Back</a>
    </div>
</body>
</html>
