<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="../static/js/login.js"></script>

    <!--<script src="../Scripts/login.js"></script>-->

<title>Manager Site Report</title>
</head>
<body>
    <div align=center class="container-fluid">
        <h1>Site Report</h1>
        <form class="form-group" action="/to_view_site_report" method="post" enctype="multipart/form-data">
            <div style="width:50%; min-width:500px" align=center>
                <div class="row">
                    <div class="col-xs-6" align=left>
                        <label for="sd">Start Date</label>
                        <input type="date" name="stDate" value="{{stDate}}"/>
                    </div>
                    <div class="col-xs-6" align=right>
                        <label for="ed">End Date</label>
                        <input type="date" name="endDate" value="{{endDate}}"/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6" align=left>
                        <label for="ecr">Event Count Range</label>
                        {% if eCountMin == -1 -%}
                        <input type="number" style="width:50px" name="eCountMin" min=0 step=1/>
                        {% else -%}
                        <input type="number" style="width:50px" name="eCountMin" min=0 step=1 value="{{eCountMin}}"/>
                        {%- endif %}

                        <label for="do"> -- </label>
                        {% if eCountMax == -1 -%}
                        <input type="number" style="width:50px" name="eCountMax" min=0 step=1/>
                        {% else -%}
                        <input type="number" style="width:50px" name="eCountMax" min=0 step=1 value="{{eCountMax}}"/>
                        {%- endif %}
                    </div>
                    <div class="col-xs-6" align=right>
                        <label for="scr">Staff Count Range</label>
                        {% if stCountMin == -1 -%}
                        <input type="number" style="width:50px" name="stCountMin" min=0 step=1/>
                        {% else -%}
                        <input type="number" style="width:50px" name="stCountMin" min=0 step=1 value="{{stCountMin}}"/>
                        {%- endif %}

                        <label for="tvo">--</label>
                        {% if stCountMax == -1 -%}
                        <input type="number" style="width:50px" name="stCountMax" min=0 step=1/>
                        {% else -%}
                        <input type="number" style="width:50px" name="stCountMax" min=0 step=1 value="{{stCountMax}}"/>
                        {%- endif %}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6" align=left>
                        <label for="tvr">Total Visits Range</label>
                        {% if toVisMin == -1 -%}
                        <input type="number" style="width:50px" name="toVisMin" min=0 step=1/>
                        {% else -%}
                        <input type="number" style="width:50px" name="toVisMin" min=0 step=1 value="{{toVisMin}}"/>
                        {%- endif %}

                        <label for="dot">--</label>
                        {% if toVisMax == -1 -%}
                        <input type="number" style="width:50px" name="toVisMax" min=0 step=1/>
                        {% else -%}
                        <input type="number" style="width:50px" name="toVisMax" min=0 step=1 value="{{toVisMax}}"/>
                        {%- endif %}
                    </div>
                    <div class="col-xs-6" align=right>
                        <label for="trr">Total Revenue Range</label>
                        {% if toRevMin == -1 -%}
                        <input type="number" style="width:50px" name="toRevMin" min=0 step=1/>
                        {% else -%}
                        <input type="number" style="width:50px" name="toRevMin" min=0 step=1 value="{{toRevMin}}"/>
                        {%- endif %}

                        <label for="tro">--</label>
                        {% if toRevMax == -1 -%}
                        <input type="number" style="width:50px" name="toRevMax" min=0 step=1/>
                        {% else -%}
                        <input type="number" style="width:50px" name="toRevMax" min=0 step=1 value="{{toRevMax}}"/>
                        {%- endif %}
                    </div>
                </div>
                <br>
                <div class="row">
                    <button type="submit" style="width: 150px" formnovalidate>Filter</a></button>
                    <button type="submit" style="width: 150px" formaction="/to_daily_detail">Daily Detail</a></button>
                </div>
            </div>

            <div align=center style="margin:20px">
                <table class="table table-striped">
                    <tr>
                        <th>Date
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="Day ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="Day DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th>Event Count
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="EventCount ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="EventCount DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th>Staff Count
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="StaffCount ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="StaffCount DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th>Total Visits
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="TotalVisits ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="TotalVisits DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th>Total Revenue
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="TotalRevenue ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="TotalRevenue DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                    </tr>

                    {% for day in days %}
                    <tr>
                        <td><input type="radio" name="chosen_day" value="{{day.Date}}" required> {{day.Date}}</td>
                        <td>{{day.EventCount}}</td>
                        <td>{{day.StaffCount}}</td>
                        <td>{{day.TotalVisits}}</td>
                        <td>{{day.TotalRevenue}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </form>
         <a class=" btn btn-default" href="/back-button" role="button">Back</a>
        <p id = "feedback"  style="color: red">{{error}}</p>
    </div>
</body>

</html>
