<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="../static/js/login.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--<script src="../Scripts/login.js"></script>-->
<title>Register User Only</title><br></br>

</head>
<body>
<div align=center class="container-fluid">
<h1>Register User</h1>

<form class="form-group" style="width:20%" action="/register_user" method="post" enctype="multipart/form-data">

        <label for="fname">First Name</label>
        <input type="text" name="firstname" id="fname" class="form-control" placeholder="First Name" value="{{ request.form['firstname'] }}" required autofocus>
        <br>

        <label for="lname">Last Name</label>
        <input type="text" name="lastname" id="lname" class="form-control" placeholder="Last Name" value="{{ request.form['lastname'] }}" required autofocus>
        <br>

        <label for="uname">Username</label>
        <input type="text" name="username" id="uname" class="form-control" placeholder="Username" value="{{ request.form['username'] }}" required autofocus>
        <br>

        <label for="pword">Password</label>
        <input type="password" name="password" id="pword" class="form-control" placeholder="Password" value="{{ request.form['password'] }}" required autofocus>
        <br>

        <label for="cpword">Confirm Password</label>
        <input type="password" name="confirm_password" id="cpword" class="form-control" placeholder="Confirm Password" value="{{ request.form['confirm_password'] }}" required autofocus>
        <br>


        <label for="email-add">Email</label>
         <div id="TextBoxesGroup">
    <div id="TextBoxDiv1">
                      <div>
                    {% for email in emails %}
                    <div class="row">
                        <div class="col" align=middle>
                            <label for="email">{{email.Email}}</label>
                        </div>
                        <div class="col" align=middle>
                            <button name="rememail" value="{{email.Email}}" type="submit" formaction="/remove_tempmail-user" formnovalidate>Remove</button>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="row">
                        <div>
                            <input type="email" name="addemail" class="form-control" placeholder="Email" value="{{newemail}}" autofocus formnovalidate>
                        </div>
                        <div class="col" align=middle>
                            <button type="add" formaction="/add-email-reg-user" formnovalidate>Add Email</button></p>
                        </div>
                    </div>
                </div>
         

  <br></br>


        <button id="btnRegister" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <br>
        <a class=" btn btn-default" href="to_register_navigation" role="button">Back</a>
        <p id = "feedback"  style="color: red">{{error}}</p>

  


<!-- <script type="text/javascript">
    
$(document).ready(function boxes() {

  var counter = 2;
  var counterN = counter - 1;
  var emails = []

  $("#addButton").click(function() {

   
    if (counter > 1) {
      emails.push($('#textbox' + counterN).val());
    }
    counterN++;
    console.log(emails);


    var newTextBoxDiv = $(document.createElement('div'))
      .attr("id", 'TextBoxDiv' + counter);

    newTextBoxDiv.after().html('<input type="text" name="email" class="form-control" placeholder="Email" autofocus' + counter +
      '" id="textbox' + counter + '" value="" >');

    newTextBoxDiv.appendTo("#TextBoxesGroup");


    counter++;
  });

  $("#removeButton").click(function() {
    if (counter == 2) {
      alert("You must have at least one email");
      return false;
    }

    counter--;

    $("#TextBoxDiv" + counter).remove();

    if (counter - emails.length == 0) {
      emails.pop();
    }
    counterN--;
    console.log(emails);

  });

  $("#addButton").click(function() {
    emails.push($('#textbox' + counterN).val());
    counterN++;
    console.log(emails);
    // $.post("add_email", emails, function(){
    
    $.ajax({
      type: "POST",
      contentType: "application/json;charset=utf-8",
      url: "/add_email",
      traditional: "true",
      data: JSON.stringify({emails}),
      dataType: "json"
    });
  });

});

</script> -->
 </form>
</div>

</body>
</html>