<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="../static/js/login.js"></script>

    <!--<script src="../Scripts/login.js"></script>-->

<title>Staff View Schedule</title>
</head>
<body>
    <div align=center class="container-fluid">
        <h1>View Schedule</h1>
        <form class="form-group" action="/to_view_schedule" method="post" enctype="multipart/form-data">
            <div style="width:50%; min-width:500px" align=center>
                <div class="row">
                    <div class="col-xs-6" align=left>
                        <label>Event Name</label>
                        <input type="text" name="name" value="{{filName}}"/>
                    </div>
                    <div class="col-xs-6" align=right>
                        <label>Descr. Keyword</label>
                        <input type="text" name="description" value="{{filDescr}}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6" align=left>
                        <label>Start Date</label>
                        <input type="date" name="startdate" value="{{filStDate}}"/>
                    </div>
                    <div class="col-xs-6" align=right>
                        <label>End Date</label>
                        <input type="date" name="enddate" value="{{filEndDate}}"/>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" style="width:125px" name="Filter" formnovalidate>Filter</button>
                    <button type="submit" style="width:125px" name="View Event" formaction="/to_event_detail">View Event</button>
                </div>
            </div>

            <div align=center style="margin:20px">
                <table class="table table-striped">
                    <tr>
                        <th>Event Name
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="EventName ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="EventName DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th>Site Name
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="SiteName ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="SiteName DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th>Start Date
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="StartDate ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="StartDate DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th>End Date
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="EndDate ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="EndDate DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th>Staff Count
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="StaffCount ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="StaffCount DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                    </tr>

                    {% for event in events %}
                    <tr>
                        <td><input type="radio" name="chosen_event" value="{{event}}" required> {{event.EventName}}</td>
                        <td>{{event.SiteName}}</td>
                        <td>{{event.StartDate}}</td>
                        <td>{{event.EndDate}}</td>
                        <td>{{event.StaffCount}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </form>

        <button type="back"><a href="/back-button">Back</a></button>

    </div>
</body>
</html>
