<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="../static/js/login.js"></script>

    <!--<script src="../Scripts/login.js"></script>-->

<title>Visitor Explore Event</title>
</head>
<body>
    <div align=center class="container-fluid">
        <h1>Explore Event</h1>
        <form class="form-group" action="/to_vis_explore_event" method="post" enctype="multipart/form-data">
            <div style="width:50%; min-width:500px" align=center>
                <div class="row">
                    <div class="col-xs-6" align=left>
                        <label>Name</label>
                        <input type="text" name="name" value="{{filName}}"/>
                    </div>
                    <div class="col-xs-6" align=right>
                        <label>Descr. Keyword</label>
                        <input type="text" name="description" value="{{filDescr}}"/>
                    </div>
                </div>
                <div class="row" align=left>
                    <label>Site Name</label>
                    <select name="site">
                        {% if filSite == '-ALL-' -%}
                        <option value="-ALL-" selected="selected">-ALL-</option>
                        {% else -%}
                        <option value="-ALL-">-ALL-</option>
                        {%- endif %}

                        {% for site in sites %}
                        {% if filSite == site.SiteName -%}
                        <option value="{{site.SiteName}}" selected="selected">{{site.SiteName}}</option>
                        {% else -%}
                        <option value="{{site.SiteName}}">{{site.SiteName}}</option>
                        {%- endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="col-xs-6" align=left>
                        <label>Start Date</label>
                        <input type="date" name="startdate" value="{{filStDate}}"/>
                    </div>
                    <div class="col-xs-6" align=right>
                        <label>End Date</label>
                        <input type="date" name="enddate" value="{{filEndDate}}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6" align=left>
                        <label for="tvr">Total Visits Range</label>
                        {% if toVisMin == -1 -%}
                        <input type="number" style="width:50px" name="toVisMin" min=0 step=1/>
                        {% else -%}
                        <input type="number" style="width:50px" name="toVisMin" min=0 step=1 value="{{toVisMin}}"/>
                        {%- endif %}

                        <label for="dot">--</label>
                        {% if toVisMax == -1 -%}
                        <input type="number" style="width:50px" name="toVisMax" min=0 step=1/>
                        {% else -%}
                        <input type="number" style="width:50px" name="toVisMax" min=0 step=1 value="{{toVisMax}}"/>
                        {%- endif %}
                    </div>
                    <div class="col-xs-6" align=right>
                        <label for="tvr">Ticket Price Range</label>
                        {% if tPriceMin == -1 -%}
                        <input type="number" style="width:50px" name="tPriceMin" min=0 step=1/>
                        {% else -%}
                        <input type="number" style="width:50px" name="tPriceMin" min=0 step=1 value="{{tPriceMin}}"/>
                        {%- endif %}

                        <label for="dot">--</label>
                        {% if tPriceMax == -1 -%}
                        <input type="number" style="width:50px" name="tPriceMax" min=0 step=1/>
                        {% else -%}
                        <input type="number" style="width:50px" name="tPriceMax" min=0 step=1 value="{{tPriceMax}}"/>
                        {%- endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6" align=center>
                        {% if filIncVis == "Yes" -%}
                        <input type="checkbox" name="includeVisited" value="Yes" checked> Include Visited</input>
                        <input type="hidden" name="includeVisited" value="No">
                        <br>
                        {% else -%}
                        <input type="checkbox" name="includeVisited" value="Yes"> Include Visited</input>
                        <input type="hidden" name="includeVisited" value="No">
                        <br>
                        {%- endif %}
                    </div>
                    <div class="col-xs-6" align=center>
                        {% if filIncSoldOut == "Yes" -%}
                        <input type="checkbox" name="includeSoldOut" value="Yes" checked> Included Sold Out Events</input>
                        <input type="hidden" name="includeSoldOut" value="No">
                        <br>
                        {% else -%}
                        <input type="checkbox" name="includeSoldOut" value="Yes"> Included Sold Out Events</input>
                        <input type="hidden" name="includeSoldOut" value="No">
                        <br>
                        {%- endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6" align=center>
                        <button type="submit" style="width:125px" name="Filter" formnovalidate>Filter</button>
                    </div>
                    <div class="col-xs-6" align=center>
                        <button type="submit" style="width:125px" name="Event Detail" formaction="/to_vis_event_detail">Event Detail</button>
                    </div>
                </div>
            </div>
            <div align=center style="margin:20px">
                <table class="table table-striped">
                    <tr>
                        <th>Event Name
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="EventName ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="EventName DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th>Site Name
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="SiteName ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="SiteName DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th>Ticket Price
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="TicketPrice ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="TicketPrice DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th>Ticket Remaining
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="TicketsRemaining ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="TicketsRemaining DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th>Total Visits
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="TotalVisits ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="TotalVisits DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th>My Visits
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="MyVisits ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="MyVisits DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                    </tr>

                    {% for event in events %}
                    <tr>
                        <td><input type="radio" name="chosen_event" value="{{event}}" required> {{event.EventName}}</td>
                        <td>{{event.SiteName}}</td>
                        <td>{{event.TicketPrice}}</td>
                        <td>{{event.TicketsRemaining}}</td>
                        <td>{{event.TotalVisits}}</td>
                        <td>{{event.MyVisits}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <button type="back"><a href="/back-button">Back</a></button>

        </form>
    </div>
</body>
</html>
