<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Language" content="en">
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="../static/js/login.js"></script>

    <!--<script src="../Scripts/login.js"></script>-->

<title>Visitor Explore Site</title>
</head>
<body>
    <div align=center class="container-fluid">
        <h1>Explore Site</h1>
        <form class="form-group" action="/to_vis_explore_site" method="post" enctype="multipart/form-data">
            <div style="width:50%; min-width:500px" align=center>
                <div class="row">
                    <div class="col-xs-6" align=left>
                        <label>Name</label>
                        <select name="site">
                            {% if filSite == '-ALL-' -%}
                            <option value="-ALL-" selected="selected">-ALL-</option>
                            {% else -%}
                            <option value="-ALL-">-ALL-</option>
                            {%- endif %}

                            {% for site in sites %}
                            {% if filSite == site.SiteName -%}
                            <option value="{{site.SiteName}}" selected="selected">{{site.SiteName}}</option>
                            {% else -%}
                            <option value="{{site.SiteName}}">{{site.SiteName}}</option>
                            {%- endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-6" align=right>
                        <label>Descr. Keyword</label>
                        <select name="everyday">
                            {% if filEvery == '-ALL-' -%}
                            <option value="-ALL-" selected="selected">-ALL-</option>
                            {% else -%}
                            <option value="-ALL-">-ALL-</option>
                            {%- endif %}

                            {% if filEvery == 'Yes' -%}
                            <option value="Yes" selected="selected">Yes</option>
                            {% else -%}
                            <option value="Yes">Yes</option>
                            {%- endif %}

                            {% if filEvery == 'No' -%}
                            <option value="No" selected="selected">No</option>
                            {% else -%}
                            <option value="No">No</option>
                            {%- endif %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6" align=left>
                        <label>Start Date</label>
                        <input type="date" name="startdate" value="{{filStDate}}"/>
                    </div>
                    <div class="col-xs-6" align=right>
                        <label>End Date</label>
                        <input type="date" name="enddate" value="{{filEndDate}}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6" align=left>
                        <label for="tvr">Total Visits Range</label>
                        {% if toVisMin == -1 -%}
                        <input type="number" style="width:50px" name="toVisMin" min=0 step=1/>
                        {% else -%}
                        <input type="number" style="width:50px" name="toVisMin" min=0 step=1 value="{{toVisMin}}"/>
                        {%- endif %}

                        <label for="dot">--</label>
                        {% if toVisMax == -1 -%}
                        <input type="number" style="width:50px" name="toVisMax" min=0 step=1/>
                        {% else -%}
                        <input type="number" style="width:50px" name="toVisMax" min=0 step=1 value="{{toVisMax}}"/>
                        {%- endif %}
                    </div>
                    <div class="col-xs-6" align=right>
                        <label for="tvr">Event Count Range</label>
                        {% if eCountMin == -1 -%}
                        <input type="number" style="width:50px" name="eCountMin" min=0 step=1/>
                        {% else -%}
                        <input type="number" style="width:50px" name="eCountMin" min=0 step=1 value="{{eCountMin}}"/>
                        {%- endif %}

                        <label for="dot">--</label>
                        {% if eCountMax == -1 -%}
                        <input type="number" style="width:50px" name="eCountMax" min=0 step=1/>
                        {% else -%}
                        <input type="number" style="width:50px" name="eCountMax" min=0 step=1 value="{{eCountMax}}"/>
                        {%- endif %}
                    </div>
                </div>
                <div class="row" align=center>
                        {% if filIncVis == "Yes" -%}
                        <input type="checkbox" name="includeVisited" value="Yes" checked> Include Visited</input>
                        <input type="hidden" name="includeVisited" value="No">
                        <br>
                        {% else -%}
                        <input type="checkbox" name="includeVisited" value="Yes"> Include Visited</input>
                        <input type="hidden" name="includeVisited" value="No">
                        <br>
                        {%- endif %}
                </div>
                <div class="row">
                    <div class="col-xs-4" align=center>
                        <button type="submit" style="width:125px" name="Filter" formnovalidate>Filter</button>
                    </div>
                    <div class="col-xs-4" align=center>
                        <button type="submit" style="width:125px" name="Site Detail" formaction="/to_visitor_site_detail" formmethod="post">Site Detail</button>
                    </div>
                    <div class="col-xs-4" align=center>
                        <button type="submit" style="width:125px" name="Transit Detail" formaction="/to_visitor_transitDetail" formmethod="post">Transit Detail</button>
                    </div>
                </div>
            </div>
            <div align=center style="margin:20px">
                <table class="table table-striped">
                    <tr>
                        <th>Site Name
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="SiteName ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="SiteName DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th>Event Count
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="EventCount ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="EventCount DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th>Total Visits
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="TotalVisits ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="TotalVisits DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th>My Visits
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="MyVisits ASC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            <button type="submit" class="btn btn-default btn-xs" name="sort" value="MyVisits DESC" formnovalidate>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </th>
                    </tr>

                    {% for site in ssites %}
                    <tr>
                        <td><input type="radio" name="chosen_site" value="{{site}}" required> {{site.SiteName}}</td>
                        <td>{{site.EventCount}}</td>
                        <td>{{site.TotalVisits}}</td>
                        <td>{{site.MyVisits}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <button type="back"><a href="/back-button">Back</a></button>

        </form>
    </div>
</body>
</html>
