<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="../static/js/login.js"></script>

    <!--<script src="../Scripts/login.js"></script>-->

<title>Visitor Site Detail</title>
</head>

<body>
    <div align=center class="container-fluid" style="width:60%; min-width:600px">
        <h1>Site Detail</h1>

          <div class="row">
                <div class="col-xs-3" align=middle>
                    <label for="SiteName">Site</label>
                </div>
                <div class="col-xs-3" align=middle>
                    <label for="siteCurrent">{{SiteName}}</label>
                </div>
                <div class="col-xs-3" align=middle>
                    <label for="OpenEveryday">Open Everyday</label>
                </div>
                <div class="col-xs-3" align=middle>
                    <label for="OpenEverydaycurrent">{{OpenEveryday}}</label>
                </div>
            </div>


              <div class="row">
                <div class="col-xs-3" align=middle>
                    <label for="fulladdress">Address</label>
                </div>
                <div class="col-xs-3" align=middle>
                    <label for="Addresscurrent">{{fulladdress}}</label>
                </div>
               <!--  <div class="col-xs-3" align=left>
                    <label for="zipcode">EndDate</label>
                </div>
                <div class="col-xs-3" align=left>
                    <label for="zipcode">{{zipcode}}</label>
                </div> -->

            </div>

            
            <form class="form-group" align=center action="/visitor_logsiteVisit" method="post" enctype="multipart/form-data">
            <div class="col-xs-12" align=middle>
                    <input type="date" name="sitevisitdate" class="form-control" value="{{sitevisitdate}}" required autofocus style="width:15%;min-width:200px"><br>

                    <div class="col-xs-12" align=middle>
                    <div class="col-xs-12" align=middle>
                    <button type="submit" formaction="/visitor_logsiteVisit">Log Visit</a></button><br></br>
                </div>
                </div>
            </div>
        </form>
                <br>

        <a class=" btn btn-default" href="/to_explore_site" role="button">Back</a>
        <p id = "feedback"  style="color: red">{{error}}</p>
        <p id = "feedback"  style="color: green">{{success}}</p>
    </div>
</body>
</html>
