<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="../static/js/login.js"></script>

    <!--<script src="../Scripts/login.js"></script>-->

<title>Administrator Visitor Functionality</title>
</head>
<body>
<div align=center class="container-fluid" style="width:20%">

<h1>Administrator-Visitor Functionality</h1>

    <br></br>
    <a class="btn btn-lg btn-primary btn-block" href="to_manage_profile" role="button" type="user">Manage Profile</a>
    <br>

     <a class="btn btn-lg btn-primary btn-block" href="to_manage_user" role="button" type="user">Manage User</a>
    <br>

    <a class="btn btn-lg btn-primary btn-block" href="to_manage_transit" role="button" type="user">Manage Transit</a>
    <br>


  <a class="btn btn-lg btn-primary btn-block" href="to_manage_site" role="button" type="user">Manage Site</a>
    <br>

    <a class="btn btn-lg btn-primary btn-block" href="to_user_take_transit" role="button" type="user">Take Transit</a>
    <br>


     <a class="btn btn-lg btn-primary btn-block" href="to_user_transit_history" role="button" type="visitor">View Transit History</a>
    <br>

    <a class="btn btn-lg btn-primary btn-block" href="to_vis_explore_event" role="button" type="user">Explore Event</a>
    <br>

    <a class="btn btn-lg btn-primary btn-block" href="to_visitor_explore_site" role="button" type="user">Explore Site</a>
    <br>

    <a class="btn btn-lg btn-primary btn-block" href="to_visitor_view_visit_history" role="button" type="user">View Visit History</a>
    <br>
   
    <a class=" btn btn-default" href="/" role="button">Back</a>
</div>


</body>
</html>